body {
    font-family: Ubuntu, sans-serif;
    font-size: calc(min(2vh, 2vw));
    background-color: #E3F2FD;

    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

body, header, main, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer   { margin: 0.3em; color: #90A4AE; font-size: 0.8em; }
footer p { margin: 0.1em; }

input, select, textarea {
    font-family: 'Ubuntu', 'Noto Sans SC', sans-serif;
    font-size: inherit;
    color: #607D8B;
    padding: 0.25em;
    border-radius: 1em;
    border: #CFD8DC 1px solid;
    border-bottom: #2196F3 3px solid;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    border-bottom: #2196F3 3px solid;
}

.button {
    color: #FFFFFF;
    font-size: 2em;
    text-decoration: none;

    background-color: #2196F3;
    border-radius: 1em;
    box-shadow: 1px 1px 5px #607D8B;
    cursor: pointer;

    padding: 0.1em 0.6em 0.1em 0.3em;
    margin: 0.15em;
    display: flex;
    align-items: center;
}

.button span {
    width: 4em;
    text-align: center;
}

.button svg path {
    fill: #FFFFFF;
}

.button-ready {
    background-color: #66BB6A;
}

.button-disabled {
    background-color: #90A4AE;
    color: #ECEFF1;
    cursor: not-allowed;
    pointer-events: none;
}

.button-disabled svg path {
    fill: #ECEFF1;
}